:root {
    --gray: #262626;
    --white: #e2dede;
    --black: black;
    --light-green: rgb(148, 230, 175);
    --light-blue: rgb(116, 197, 207);

    /*--light-blue: rgb(31, 203, 225);*/

    --light-blue1: rgb(142, 240, 253);


    --highlight-color: var(--light-blue);
    --contrast-color: var(--white);
    --text-color: var(--black);
    --setting-active-color: var(--light-green);

    --light-blue2: rgb(94, 152, 159);
    --light-blue3: rgb(6, 79, 89);



}

body {
    background-color: var(--gray);
    background-image: linear-gradient(to right, var(--light-blue2), var(--light-blue3));
    color: var(--text-color);
}

.top-bar {
    display: flex;
    justify-content: end;

}

.player-profile {
    display: table;
    text-align: center;
    background-color: white;
    width: 40px;
    height: 40px;
    font-weight: 100;

    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.player-profile-name {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    font-size: 10%;
    font-weight: 100;

}

.heading-style {
    text-align: center;
    color: var(--white);
}

.container {
    display: block;
    max-width: 600px;
    margin: 10px auto;
    border: 5px;
    border-radius: 10px;
    background-color: var(--contrast-color);
    padding: 20px;
}
.container-heading {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: em;
}



.level-container {
    display: block;
    margin-top: 0;
}

.level-style {
    display: block;

    border: 3px;
    border-radius: 10px;

    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-family: serif;
    font-size: 20px;
    font-style: usn;
    background-color: var(--highlight-color);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.level-style:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35);
}

.level-style:active {
    opacity: 0.7;
}
.level-style-board {
    display: block;

    border: 3px;
    border-radius: 10px;
    max-width: 200px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: auto;
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-family: serif;
    font-size: 20px;
    font-style: usn;
    background-color: var(--highlight-color);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}
.level-style-board:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35);
}

.level-style-board:active {
    opacity: 0.7;
}


.image-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 0;
}

.image-span {
    margin: 10px;
}

.item-image {
    border-radius: 10px;
    width: 100px;
    height: auto;
    background-color: var(--highlight-color);
    cursor: pointer;
    padding: 5px;
}

.item-image:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
}

.item-image:active {
    opacity: 1;
}

/*.item-image-locked {
    border: 4px;
    border-radius: 10px;
    width: 100px;
    height: auto;
    background-color: var(--highlight-color);
    padding: 5px;    
}*/
.item-active-shadow {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35);
}


[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    bottom: -1.6em;
    left: 0;
    position: absolute;

    background-color: #fff;
    color: #111;

    font-size: 125%;
    padding: 1px 5px 2px 5px;

    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 2px solid #111111;
    border-radius: 5px;
    visibility: hidden;

    z-index: 2;
}
[data-title] {
    position: relative;
}

.settings-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 0
}
.setting-heading {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.setting-box {
    display: inline; 
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


.settings-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/* Hide default HTML checkbox */
.settings-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--setting-active-color);
}
input:focus+.slider {
    box-shadow: 0 0 1px var(--setting-active-color);
}
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}