:root {
    --gray: #262626;
    --white: #e2dede;
    --black: black;
    --light-green: rgb(148, 230, 175);
    --light-blue: rgb(116, 197, 207);

    /*--light-blue: rgb(31, 203, 225);*/

    --light-blue1: rgb(142, 240, 253);


    --highlight-color: var(--light-blue);
    --contrast-color: var(--white);
    --text-color:var(--black);
    
    --light-blue2: rgb(94, 152, 159);
    --light-blue3: rgb(6, 79, 89);



}

body {
    background-color: var(--gray);
    background-image: linear-gradient(to right, var(--light-blue2), var(--light-blue3));
    transform: scale(0.9);
    color: var(--text-color);
}

.heading-style {
    text-align: center;
    color: var(--white);
}

.container {
    display: block;
    max-width: 600px;
    margin:  10px auto;
    border: 5px;
    border-radius: 10px;
    background-color:  var(--contrast-color);
    padding: 20px;
    
}
.container-heading {
    display: block;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;

}
.level-container {
    display: block;
    margin-top: 0;
}

.level-style {
    display: block;

    border: 3px;
    border-radius: 10px;
    
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    font-family: serif;
    font-size: 20px;
    font-style: usn;
    background-color: var(--highlight-color);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}
.level-style:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35);
}
.level-style:active {     
    opacity: 0.7;
}


.image-container {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-top: 0;
}
.image-span {
  margin: 10px;
}
.item-image {
    border: 4px;
    border-radius: 10px;
    width: 100px;
    height: auto;
    background-color: var(--highlight-color);
    cursor: pointer;
    padding: 5px;
}
.item-image:hover {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
}
.item-image:active {
    opacity: 1;
}

/*.item-image-locked {
    border: 4px;
    border-radius: 10px;
    width: 100px;
    height: auto;
    background-color: var(--highlight-color);
    padding: 5px;    
}*/
.item-active-shadow {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35);
}


[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  bottom: -1.6em;
  left: 0;
  position: absolute;

  background-color: #fff;
  color: #111;
  
  font-size: 125%;
  padding: 1px 5px 2px 5px;

  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 2px solid #111111;
  border-radius: 5px;
  visibility: hidden;

  z-index: 2;
}
[data-title] {
  position: relative;
}

