:root {
  --dark_gray: rgb(32, 32, 32);
  --white: whitesmoke;
  --light-gray: rgb(184, 184, 184);
  --black: rgb(19, 19, 19);
}
body {
  background-color: var(--black);
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  
}
.top-bar-edit-button {
  border: none;
  background-color: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 1.0em;
  padding: 10px;

}


.user-heading {
  display: block;
  text-align: center;
  color: var(--white);
  font-size: 2em;
}
.player-profile-container {
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  
}
.player-profile {
  cursor: pointer;
  margin-inline: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  display: block;
  padding: 10px;
  border: 2px solid;
  border-radius: 15px;  
  font-weight: 600;
  
}
.player-profile:hover {
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.35);
  opacity: 0.8;

}
.player-profile:active {     
  opacity: 0.7;
}
.player-profile-name {
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
}

.add-profile-container {
  display: block;
  color: var(--light-gray);
  margin: 20px;
  padding: 10px;

}
.add-profile {
  margin: auto;
  width: 100px;
  height: 120px;
}
.add-profile:hover {
  opacity: 0.75;
}
.add-profile-icon {
  display: block;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
  font-size: 35px;

  border: 1px solid var(--light-gray);
  border-radius: 15px;
  background-color: var(--black);
  color: var(--light-gray);
  
}
.add-profile-text {
  display: block;
  text-align: center;
  
}



.create-profile-container {
  display: none;
  position: absolute;
  margin: 0px auto;
  width: clamp(100px, 100%, 400px);
  height: clamp(300px, 100%, 500px);
  background-color: var(--dark_gray);
  border-radius: 10px;
  padding: 10px;
  left: 50%;
  transform: translate(-50%, 15%);
  z-index: 1;
}
.create-profile-top-bar {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  
}
.create-profile-button {
  border: none;
  background-color: var(--dark_gray);
  color: var(--white);
}
.create-profile-button:hover {
  opacity: 0.75;
}
.create-profile-heading {
  font-weight: 700;
  
}
.create-profile-preview {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.create-profile-input-container {
  display: block;
  padding: 10px;
  margin: 10px;

}
.create-profile-input-border {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 5px;
  margin: 20px auto;
}
.create-profile-input {
  display: block;
  color: var(--white);
  border: none;
  background-color: var(--dark_gray);
  font-size: 17px;
 
  width: 100%;
}
.preview-profile {
  margin-inline: 20px;
  margin-bottom: 10px;
  background-color: black;
  width: 80px;
  height: 80px;
  display: table;
  padding: 10px;
  border: 2px solid;
  border-radius: 15px;
  border-color: white;
  text-align: center;
}
.preview-profile-name {
  color: var(--white);
  display: table-cell;
  vertical-align: middle;
  
  font-weight: 600;

}
.edit-profile-delete-button {
  display: block;
  border: none;
  background-color: var(--dark_gray);
  color: var(--white);
  margin: 30px auto;
}
.edit-profile-delete-button:hover {
  opacity: 0.75;
}
.edit-profile-stats-container {
  margin-top: -10px;
  display: block;
  text-align: center;
  color: var(--light-gray);
  border: 1px var(--light-gray);
  border-radius: 5px;
}
.edit-profile-stats-span {
  display: block;
  margin: 4px;
}


